[submodule "apps/website"]
	path = apps/website
	url = https://github.com/lomiafrica/website.git
[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/lomiafrica/admin.lomi.africa
[submodule "apps/shopify"]
	path = apps/shopify
	url = https://github.com/lomiafrica/shopify.lomi.africa