[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/lomiafrica/admin.lomi.africa
[submodule "apps/shopify"]
	path = apps/shopify
	url = https://github.com/lomiafrica/shopify.lomi.africa
[submodule "apps/pi-spi-sdk"]
	path = apps/pi-spi-sdk
	url = https://github.com/lomiafrica/pi-spi-sdk.git
[submodule "apps/dashboard"]
	path = apps/dashboard
	url = https://github.com/lomiafrica/dashboard.git
[submodule "apps/jumbo"]
	path = apps/jumbo
	url = https://github.com/princemuichkine/jumbo.git
