# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js

# others
.env
.env.production
next-env.d.ts