# deps
/node_modules
/dist
.sanity

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js

# others
.env
lib/types/database.types.ts
.env.production
next-env.d.ts
/lib/scripts/core