# deps
/node_modules
/dist
.sanity

# generated content
.contentlayer
.content-collections
.source

# test & build
/lib/scripts
/coverage
/.next/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js

# others
.env
.env.production
next-env.d.ts