openapi: 3.0.3
info:
  contact:
    email: hello@lomi.africa
    name: lomi. Support
    url: https://lomi.africa
  description: |-
    # lomi. API

    The lomi. API provides a comprehensive payment processing platform for francophone WestAfrican businesses.

    ## Authentication

    All API requests require authentication using an API key. Include your API key in the `X-API-KEY` header.

    ```bash
    curl https://api.lomi.africa/v1/customers \
      -H "X-API-KEY: your_api_key_here"
    ```

    ## Rate limiting

    API requests are rate-limited based on your plan. Rate limit headers are included in all responses.

    ## Webhooks

    Configure webhooks to receive real-time notifications about events in your account.

    ## Environments

    - **Live**: Production environment with real transactions
    - **Test**: Sandbox environment for development and testing
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: lomi. API
  version: 1.1.0
servers:
- description: Production server
  url: https://api.lomi.africa/v1
- description: Sandbox server
  url: https://sandbox.api.lomi.africa/v1
security:
- ApiKeyAuth: []
tags:
- description: Customer management - create and manage customer profiles
  name: Core
- description: Payment requests - create payment intents and track status
  name: Core
- description: Transaction history - view completed and pending transactions
  name: Core
- description: Refund management - process and track refunds
  name: Core
- description: Product catalog - manage one-time and recurring products
  name: Products
- description: Pricing tiers - manage product pricing
  name: Products
- description: Subscription management - create and manage recurring billing
  name: Subscriptions
- description: Discount coupons - create and manage promotional codes
  name: Subscriptions
- description: Customer invoices - view subscription invoices
  name: Subscriptions
- description: Checkout sessions - create hosted payment pages
  name: Checkout
- description: Payment links - shareable payment URLs
  name: Checkout
- description: Payout management - transfer funds to beneficiaries
  name: Payouts
- description: Payout methods - manage beneficiary payout details
  name: Payouts
- description: Beneficiary payouts - track individual payout transfers
  name: Payouts
- description: BNPL installment payments - track installment payments
  name: BNPL
- description: SPI QR codes - generate and manage SPI QR payment codes
  name: SPI
- description: SPI account aliases - manage SPI payment aliases
  name: SPI
- description: Webhook configuration - receive real-time event notifications
  name: Webhooks
- description: Webhook event log - history of webhook deliveries
  name: Webhooks
- description: Events - view account activity events
  name: Events
- description: Usage meters - track usage for usage-based billing
  name: Usage Billing
- description: Meter balances - view current usage balances
  name: Usage Billing
paths:
  /customers:
    get:
      description: Customer management - create and manage customer profiles
      operationId: listCustomers
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCustomers_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List customers
      tags:
      - Core
    post:
      description: Customer management - create and manage customer profiles
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample customer creation
                value:
                  name: Aminata Diallo
                  email: aminata.diallo@example.com
                  phone_number: "+221771234567"
                  metadata:
                    customer_segment: premium
                    referral_source: instagram
            schema:
              $ref: "#/components/schemas/customers_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customers"
          description: Customer successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create customer
      tags:
      - Core
  /customers/{customer_id}:
    delete:
      description: Delete a specific customer. This action cannot be undone.
      operationId: deleteCustomer
      parameters:
      - description: Unique identifier for the customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Customer successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete customer
      tags:
      - Core
    get:
      description: Retrieve a specific customer by its unique identifier.
      operationId: retrieveCustomer
      parameters:
      - description: Unique identifier for the customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customers"
          description: Customer retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve customer
      tags:
      - Core
    patch:
      description: Update a specific customer. Only provided fields will be updated.
      operationId: updateCustomer
      parameters:
      - description: Unique identifier for the customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample customer update
                value:
                  name: Aminata Diallo-Kane
                  phone_number: "+221779876543"
                  metadata:
                    customer_segment: vip
                    notes: Upgraded to VIP tier
            schema:
              $ref: "#/components/schemas/customers_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customers"
          description: Customer successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update customer
      tags:
      - Core
  /payment_requests:
    get:
      description: Payment requests - create payment intents and track status
      operationId: listPaymentRequests
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentRequests_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List payment requests
      tags:
      - Core
    post:
      description: Payment requests - create payment intents and track status
      operationId: createPaymentRequest
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample payment_request creation
                value:
                  amount: 25000
                  currency_code: XOF
                  customer_id: cus_1234567890abcdef
                  description: Payment for premium subscription
                  metadata:
                    order_id: ORD-2024-001
            schema:
              $ref: "#/components/schemas/payment_requests_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payment_requests"
          description: Payment_request successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create payment request
      tags:
      - Core
  /payment_requests/{request_id}:
    delete:
      description: Delete a specific payment request. This action cannot be undone.
      operationId: deletePaymentRequest
      parameters:
      - description: Unique identifier for the payment request
        explode: false
        in: path
        name: request_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Payment_request successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete payment request
      tags:
      - Core
    get:
      description: Retrieve a specific payment request by its unique identifier.
      operationId: retrievePaymentRequest
      parameters:
      - description: Unique identifier for the payment request
        explode: false
        in: path
        name: request_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payment_requests"
          description: Payment_request retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve payment request
      tags:
      - Core
    patch:
      description: Update a specific payment request. Only provided fields will be
        updated.
      operationId: updatePaymentRequest
      parameters:
      - description: Unique identifier for the payment request
        explode: false
        in: path
        name: request_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample payment_request update
                value:
                  metadata:
                    order_id: ORD-2024-001-UPDATED
                    notes: Customer requested invoice
            schema:
              $ref: "#/components/schemas/payment_requests_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payment_requests"
          description: Payment_request successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update payment request
      tags:
      - Core
  /transactions:
    get:
      description: Transaction history - view completed and pending transactions
      operationId: listTransactions
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTransactions_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List transactions
      tags:
      - Core
  /transactions/{transaction_id}:
    get:
      description: Retrieve a specific transaction by its unique identifier.
      operationId: retrieveTransaction
      parameters:
      - description: Unique identifier for the transaction
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transactions"
          description: Transaction retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve transaction
      tags:
      - Core
  /refunds:
    get:
      description: Refund management - process and track refunds
      operationId: listRefunds
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRefunds_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List refunds
      tags:
      - Core
    post:
      description: Refund management - process and track refunds
      operationId: createRefund
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample refund creation
                value:
                  name: Sample refund
                  description: Example refund object
            schema:
              $ref: "#/components/schemas/refunds_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refunds"
          description: Refund successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create refund
      tags:
      - Core
  /refunds/{refund_id}:
    delete:
      description: Delete a specific refund. This action cannot be undone.
      operationId: deleteRefund
      parameters:
      - description: Unique identifier for the refund
        explode: false
        in: path
        name: refund_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Refund successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete refund
      tags:
      - Core
    get:
      description: Retrieve a specific refund by its unique identifier.
      operationId: retrieveRefund
      parameters:
      - description: Unique identifier for the refund
        explode: false
        in: path
        name: refund_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refunds"
          description: Refund retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve refund
      tags:
      - Core
    patch:
      description: Update a specific refund. Only provided fields will be updated.
      operationId: updateRefund
      parameters:
      - description: Unique identifier for the refund
        explode: false
        in: path
        name: refund_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample refund update
                value:
                  metadata:
                    updated_at: 2025-11-21T09:45:11.331Z
                    updated_reason: Administrative update
            schema:
              $ref: "#/components/schemas/refunds_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refunds"
          description: Refund successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update refund
      tags:
      - Core
  /products:
    get:
      description: Product catalog - manage one-time and recurring products
      operationId: listProducts
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProducts_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List products
      tags:
      - Products
    post:
      description: Product catalog - manage one-time and recurring products
      operationId: createProduct
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample product creation
                value:
                  name: Premium Subscription
                  description: Monthly premium access with all features
                  product_type: recurring
                  is_active: true
                  metadata:
                    features:
                    - analytics
                    - api_access
                    - priority_support
            schema:
              $ref: "#/components/schemas/products_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products"
          description: Product successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create product
      tags:
      - Products
  /products/{product_id}:
    delete:
      description: Delete a specific product. This action cannot be undone.
      operationId: deleteProduct
      parameters:
      - description: Unique identifier for the product
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Product successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete product
      tags:
      - Products
    get:
      description: Retrieve a specific product by its unique identifier.
      operationId: retrieveProduct
      parameters:
      - description: Unique identifier for the product
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products"
          description: Product retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve product
      tags:
      - Products
    patch:
      description: Update a specific product. Only provided fields will be updated.
      operationId: updateProduct
      parameters:
      - description: Unique identifier for the product
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample product update
                value:
                  name: Premium Plus Subscription
                  description: Enhanced premium access with exclusive features
                  is_active: true
            schema:
              $ref: "#/components/schemas/products_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/products"
          description: Product successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update product
      tags:
      - Products
  /prices:
    get:
      description: Pricing tiers - manage product pricing
      operationId: listPrices
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPrices_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List prices
      tags:
      - Products
    post:
      description: Pricing tiers - manage product pricing
      operationId: createPrice
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample price creation
                value:
                  product_id: prod_1234567890abcdef
                  amount: 5000
                  currency_code: XOF
                  pricing_model: flat_rate
                  billing_frequency: monthly
                  is_active: true
            schema:
              $ref: "#/components/schemas/prices_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/prices"
          description: Price successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create price
      tags:
      - Products
  /prices/{price_id}:
    delete:
      description: Delete a specific price. This action cannot be undone.
      operationId: deletePrice
      parameters:
      - description: Unique identifier for the price
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Price successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete price
      tags:
      - Products
    get:
      description: Retrieve a specific price by its unique identifier.
      operationId: retrievePrice
      parameters:
      - description: Unique identifier for the price
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/prices"
          description: Price retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve price
      tags:
      - Products
    patch:
      description: Update a specific price. Only provided fields will be updated.
      operationId: updatePrice
      parameters:
      - description: Unique identifier for the price
        explode: false
        in: path
        name: price_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample price update
                value:
                  is_active: false
            schema:
              $ref: "#/components/schemas/prices_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/prices"
          description: Price successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update price
      tags:
      - Products
  /subscriptions:
    get:
      description: Subscription management - create and manage recurring billing
      operationId: listSubscriptions
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSubscriptions_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List subscriptions
      tags:
      - Subscriptions
    post:
      description: Subscription management - create and manage recurring billing
      operationId: createSubscription
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample subscription creation
                value:
                  customer_id: cus_1234567890abcdef
                  product_id: prod_1234567890abcdef
                  price_id: price_1234567890abcdef
                  billing_frequency: monthly
                  metadata:
                    plan: premium
            schema:
              $ref: "#/components/schemas/subscriptions_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/subscriptions"
          description: Subscription successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create subscription
      tags:
      - Subscriptions
  /subscriptions/{subscription_id}:
    delete:
      description: Delete a specific subscription. This action cannot be undone.
      operationId: deleteSubscription
      parameters:
      - description: Unique identifier for the subscription
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Subscription successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete subscription
      tags:
      - Subscriptions
    get:
      description: Retrieve a specific subscription by its unique identifier.
      operationId: retrieveSubscription
      parameters:
      - description: Unique identifier for the subscription
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/subscriptions"
          description: Subscription retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve subscription
      tags:
      - Subscriptions
    patch:
      description: Update a specific subscription. Only provided fields will be updated.
      operationId: updateSubscription
      parameters:
      - description: Unique identifier for the subscription
        explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample subscription update
                value:
                  metadata:
                    plan: enterprise
                    upgraded_at: 2025-11-21T09:45:11.331Z
            schema:
              $ref: "#/components/schemas/subscriptions_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/subscriptions"
          description: Subscription successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update subscription
      tags:
      - Subscriptions
  /discount_coupons:
    get:
      description: Discount coupons - create and manage promotional codes
      operationId: listDiscountCoupons
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDiscountCoupons_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List discount coupons
      tags:
      - Subscriptions
    post:
      description: Discount coupons - create and manage promotional codes
      operationId: createDiscountCoupon
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample discount_coupon creation
                value:
                  code: WELCOME2024
                  discount_type: percentage
                  discount_percentage: 20
                  max_uses: 100
                  is_active: true
                  expires_at: 2024-12-31T23:59:59Z
                  description: Welcome discount for new customers
            schema:
              $ref: "#/components/schemas/discount_coupons_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/discount_coupons"
          description: Discount_coupon successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create discount coupon
      tags:
      - Subscriptions
  /discount_coupons/{coupon_id}:
    delete:
      description: Delete a specific discount coupon. This action cannot be undone.
      operationId: deleteDiscountCoupon
      parameters:
      - description: Unique identifier for the discount coupon
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Discount_coupon successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete discount coupon
      tags:
      - Subscriptions
    get:
      description: Retrieve a specific discount coupon by its unique identifier.
      operationId: retrieveDiscountCoupon
      parameters:
      - description: Unique identifier for the discount coupon
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/discount_coupons"
          description: Discount_coupon retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve discount coupon
      tags:
      - Subscriptions
    patch:
      description: Update a specific discount coupon. Only provided fields will be
        updated.
      operationId: updateDiscountCoupon
      parameters:
      - description: Unique identifier for the discount coupon
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample discount_coupon update
                value:
                  is_active: false
                  max_uses: 50
            schema:
              $ref: "#/components/schemas/discount_coupons_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/discount_coupons"
          description: Discount_coupon successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update discount coupon
      tags:
      - Subscriptions
  /customer_invoices:
    get:
      description: Customer invoices - view subscription invoices
      operationId: listCustomerInvoices
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCustomerInvoices_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List customer invoices
      tags:
      - Subscriptions
  /customer_invoices/{invoice_id}:
    get:
      description: Retrieve a specific customer invoice by its unique identifier.
      operationId: retrieveCustomerInvoice
      parameters:
      - description: Unique identifier for the customer invoice
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer_invoices"
          description: Customer_invoice retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve customer invoice
      tags:
      - Subscriptions
  /checkout_sessions:
    get:
      description: Checkout sessions - create hosted payment pages
      operationId: listCheckoutSessions
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCheckoutSessions_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List checkout sessions
      tags:
      - Checkout
    post:
      description: Checkout sessions - create hosted payment pages
      operationId: createCheckoutSession
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample checkout_session creation
                value:
                  amount: 15000
                  currency_code: XOF
                  product_id: prod_1234567890abcdef
                  success_url: https://example.com/success
                  cancel_url: https://example.com/cancel
                  customer_email: customer@example.com
            schema:
              $ref: "#/components/schemas/checkout_sessions_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkout_sessions"
          description: Checkout_session successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create checkout session
      tags:
      - Checkout
  /checkout_sessions/{session_id}:
    delete:
      description: Delete a specific checkout session. This action cannot be undone.
      operationId: deleteCheckoutSession
      parameters:
      - description: Unique identifier for the checkout session
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Checkout_session successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete checkout session
      tags:
      - Checkout
    get:
      description: Retrieve a specific checkout session by its unique identifier.
      operationId: retrieveCheckoutSession
      parameters:
      - description: Unique identifier for the checkout session
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkout_sessions"
          description: Checkout_session retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve checkout session
      tags:
      - Checkout
    patch:
      description: Update a specific checkout session. Only provided fields will be
        updated.
      operationId: updateCheckoutSession
      parameters:
      - description: Unique identifier for the checkout session
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample checkout_session update
                value:
                  metadata:
                    updated_at: 2025-11-21T09:45:11.332Z
                    updated_reason: Administrative update
            schema:
              $ref: "#/components/schemas/checkout_sessions_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checkout_sessions"
          description: Checkout_session successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update checkout session
      tags:
      - Checkout
  /payment_links:
    get:
      description: Payment links - shareable payment URLs
      operationId: listPaymentLinks
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPaymentLinks_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List payment links
      tags:
      - Checkout
    post:
      description: Payment links - shareable payment URLs
      operationId: createPaymentLink
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample payment_link creation
                value:
                  title: Premium Membership
                  amount: 50000
                  currency_code: XOF
                  description: Annual premium membership
                  product_id: prod_1234567890abcdef
            schema:
              $ref: "#/components/schemas/payment_links_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payment_links"
          description: Payment_link successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create payment link
      tags:
      - Checkout
  /payment_links/{link_id}:
    delete:
      description: Delete a specific payment link. This action cannot be undone.
      operationId: deletePaymentLink
      parameters:
      - description: Unique identifier for the payment link
        explode: false
        in: path
        name: link_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Payment_link successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete payment link
      tags:
      - Checkout
    get:
      description: Retrieve a specific payment link by its unique identifier.
      operationId: retrievePaymentLink
      parameters:
      - description: Unique identifier for the payment link
        explode: false
        in: path
        name: link_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payment_links"
          description: Payment_link retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve payment link
      tags:
      - Checkout
    patch:
      description: Update a specific payment link. Only provided fields will be updated.
      operationId: updatePaymentLink
      parameters:
      - description: Unique identifier for the payment link
        explode: false
        in: path
        name: link_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample payment_link update
                value:
                  metadata:
                    updated_at: 2025-11-21T09:45:11.332Z
                    updated_reason: Administrative update
            schema:
              $ref: "#/components/schemas/payment_links_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payment_links"
          description: Payment_link successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update payment link
      tags:
      - Checkout
  /payouts:
    get:
      description: Payout management - transfer funds to beneficiaries
      operationId: listPayouts
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPayouts_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List payouts
      tags:
      - Payouts
    post:
      description: Payout management - transfer funds to beneficiaries
      operationId: createPayout
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample payout creation
                value:
                  amount: 100000
                  currency_code: XOF
                  beneficiary_account_id: acc_1234567890abcdef
                  description: Monthly payout to vendor
            schema:
              $ref: "#/components/schemas/payouts_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payouts"
          description: Payout successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create payout
      tags:
      - Payouts
  /payouts/{payout_id}:
    delete:
      description: Delete a specific payout. This action cannot be undone.
      operationId: deletePayout
      parameters:
      - description: Unique identifier for the payout
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Payout successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete payout
      tags:
      - Payouts
    get:
      description: Retrieve a specific payout by its unique identifier.
      operationId: retrievePayout
      parameters:
      - description: Unique identifier for the payout
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payouts"
          description: Payout retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve payout
      tags:
      - Payouts
    patch:
      description: Update a specific payout. Only provided fields will be updated.
      operationId: updatePayout
      parameters:
      - description: Unique identifier for the payout
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample payout update
                value:
                  metadata:
                    updated_at: 2025-11-21T09:45:11.332Z
                    updated_reason: Administrative update
            schema:
              $ref: "#/components/schemas/payouts_update"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payouts"
          description: Payout successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Update payout
      tags:
      - Payouts
  /payout_methods:
    get:
      description: Payout methods - manage beneficiary payout details
      operationId: listPayoutMethods
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPayoutMethods_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List payout methods
      tags:
      - Payouts
  /payout_methods/{payout_method_id}:
    get:
      description: Retrieve a specific payout method by its unique identifier.
      operationId: retrievePayoutMethod
      parameters:
      - description: Unique identifier for the payout method
        explode: false
        in: path
        name: payout_method_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/payout_methods"
          description: Payout_method retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve payout method
      tags:
      - Payouts
  /beneficiary_payouts:
    get:
      description: Beneficiary payouts - track individual payout transfers
      operationId: listBeneficiaryPayouts
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listBeneficiaryPayouts_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List beneficiary payouts
      tags:
      - Payouts
    post:
      description: Beneficiary payouts - track individual payout transfers
      operationId: createBeneficiaryPayout
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample beneficiary_payout creation
                value:
                  name: Sample beneficiary_payout
                  description: Example beneficiary_payout object
            schema:
              $ref: "#/components/schemas/beneficiary_payouts_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/beneficiary_payouts"
          description: Beneficiary_payout successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create beneficiary payout
      tags:
      - Payouts
  /beneficiary_payouts/{payout_id}:
    get:
      description: Retrieve a specific beneficiary payout by its unique identifier.
      operationId: retrieveBeneficiaryPayout
      parameters:
      - description: Unique identifier for the beneficiary payout
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/beneficiary_payouts"
          description: Beneficiary_payout retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve beneficiary payout
      tags:
      - Payouts
  /installment_payments:
    get:
      description: BNPL installment payments - track installment payments
      operationId: listInstallmentPayments
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listInstallmentPayments_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List installment payments
      tags:
      - BNPL
  /installment_payments/{payment_id}:
    get:
      description: Retrieve a specific installment payment by its unique identifier.
      operationId: retrieveInstallmentPayment
      parameters:
      - description: Unique identifier for the installment payment
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/installment_payments"
          description: Installment_payment retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Retrieve installment payment
      tags:
      - BNPL
  /spi_qr_codes:
    get:
      description: SPI QR codes - generate and manage SPI QR payment codes
      operationId: listSpiQrCodes
      parameters:
      - description: Maximum number of items to return (1-100)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Number of items to skip for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Sort order. Format: `field:direction` (e.g., `created_at:desc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: created_at:desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSpiQrCodes_200_response"
          description: Successful response with paginated data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: List spi qr codes
      tags:
      - SPI
    post:
      description: SPI QR codes - generate and manage SPI QR payment codes
      operationId: createSpiQrCode
      requestBody:
        content:
          application/json:
            examples:
              default:
                summary: Sample spi_qr_code creation
                value:
                  amount: 5000
                  currency_code: XOF
                  description: QR code for in-store payment
                  expires_at: 2024-12-31T23:59:59Z
            schema:
              $ref: "#/components/schemas/spi_qr_codes_create"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/spi_qr_codes"
          description: Spi_qr_code successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request - Invalid input
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Create spi qr code
      tags:
      - SPI
  /spi_qr_codes/{qr_code_id}:
    delete:
      description: Delete a specific spi qr code. This action cannot be undone.
      operationId: deleteSpiQrCode
      parameters:
      - description: Unique identifier for the spi qr code
        explode: false
        in: path
        name: qr_code_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Spi_qr_code successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not found - Resource does not exist
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: Delete spi qr code
      tags:
      - SPI
    get:
      description: Retrieve a specific spi qr code by its unique identifier.
      operationId: retrieveSpiQrCode
      parameters:
      - description: Unique identifier for the spi qr code
        explode: false
        in: path
        name: qr_code_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/spi_qr_codes"
          description: Spi_qr_code retrieved successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
[...]
