openapi: 3.0.3
info:
  title: lomi. API
  version: 1.1.0
  description: |-
    # lomi. API

    The lomi. API provides a comprehensive payment processing platform for francophone WestAfrican businesses.

    ## Authentication

    All API requests require authentication using an API key. Include your API key in the `X-API-KEY` header.

    ```bash
    curl https://api.lomi.africa/v1/customers \
      -H "X-API-KEY: your_api_key_here"
    ```

    ## Rate limiting

    API requests are rate-limited based on your plan. Rate limit headers are included in all responses.

    ## Webhooks

    Configure webhooks to receive real-time notifications about events in your account.

    ## Environments

    - **Live**: Production environment with real transactions
    - **Test**: Sandbox environment for development and testing
  contact:
    name: lomi. Support
    email: hello@lomi.africa
    url: https://lomi.africa
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.lomi.africa/v1
    description: Production server
  - url: https://sandbox.api.lomi.africa/v1
    description: Sandbox server
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key for authentication. Get yours from the lomi. dashboard.
  schemas:
    beneficiary_payouts:
      type: object
      description: beneficiary_payouts object
      properties:
        account_id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        provider_code:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    beneficiary_payouts_create:
      type: object
      description: Create beneficiary_payouts input
      required: []
      properties:
        account_id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        provider_code:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    beneficiary_payouts_update:
      type: object
      description: Update beneficiary_payouts input
      properties:
        account_id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        provider_code:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    checkout_sessions:
      type: object
      description: checkout_sessions object
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
        cancel_url:
          type: string
          format: uri
        checkout_session_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_email:
          type: string
          format: email
        customer_id:
          type: string
          format: uuid
        customer_name:
          type: string
        customer_phone:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        installment_plan_id:
          type: string
          format: uuid
        is_pos:
          type: boolean
        is_spi:
          type: boolean
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_link_id:
          type: string
          format: uuid
        payment_request_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        public_description:
          type: string
        qr_code_data:
          type: object
        qr_code_type:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_qr_code_id:
          type: string
          format: uuid
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        success_url:
          type: string
          format: uri
        title:
          type: string
        updated_at:
          type: string
          format: date-time
    checkout_sessions_create:
      type: object
      description: Create checkout_sessions input
      required: []
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
        cancel_url:
          type: string
          format: uri
        checkout_session_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_email:
          type: string
          format: email
        customer_id:
          type: string
          format: uuid
        customer_name:
          type: string
        customer_phone:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        installment_plan_id:
          type: string
          format: uuid
        is_pos:
          type: boolean
        is_spi:
          type: boolean
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_link_id:
          type: string
          format: uuid
        payment_request_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        public_description:
          type: string
        qr_code_data:
          type: object
        qr_code_type:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_qr_code_id:
          type: string
          format: uuid
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        success_url:
          type: string
          format: uri
        title:
          type: string
        updated_at:
          type: string
          format: date-time
    checkout_sessions_update:
      type: object
      description: Update checkout_sessions input
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
        cancel_url:
          type: string
          format: uri
        checkout_session_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_email:
          type: string
          format: email
        customer_id:
          type: string
          format: uuid
        customer_name:
          type: string
        customer_phone:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        installment_plan_id:
          type: string
          format: uuid
        is_pos:
          type: boolean
        is_spi:
          type: boolean
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_link_id:
          type: string
          format: uuid
        payment_request_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        public_description:
          type: string
        qr_code_data:
          type: object
        qr_code_type:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_qr_code_id:
          type: string
          format: uuid
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        success_url:
          type: string
          format: uri
        title:
          type: string
        updated_at:
          type: string
          format: date-time
    customer_invoices:
      type: object
      description: customer_invoices object
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        customer_invoice_id:
          type: string
          format: uuid
        description:
          type: string
        due_date:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    customer_invoices_create:
      type: object
      description: Create customer_invoices input
      required: []
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        customer_invoice_id:
          type: string
          format: uuid
        description:
          type: string
        due_date:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    customer_invoices_update:
      type: object
      description: Update customer_invoices input
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        customer_invoice_id:
          type: string
          format: uuid
        description:
          type: string
        due_date:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    customers:
      type: object
      description: customers object
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        deleted_at:
          type: string
          format: date-time
        email:
          type: string
          format: email
        environment:
          type: string
        is_business:
          type: boolean
        is_deleted:
          type: boolean
        metadata:
          type: object
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        phone_number:
          type: string
        postal_code:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_primary_alias:
          type: string
        updated_at:
          type: string
          format: date-time
        whatsapp_number:
          type: string
    customers_create:
      type: object
      description: Create customers input
      required: []
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        deleted_at:
          type: string
          format: date-time
        email:
          type: string
          format: email
        environment:
          type: string
        is_business:
          type: boolean
        is_deleted:
          type: boolean
        metadata:
          type: object
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        phone_number:
          type: string
        postal_code:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_primary_alias:
          type: string
        updated_at:
          type: string
          format: date-time
        whatsapp_number:
          type: string
    customers_update:
      type: object
      description: Update customers input
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        deleted_at:
          type: string
          format: date-time
        email:
          type: string
          format: email
        environment:
          type: string
        is_business:
          type: boolean
        is_deleted:
          type: boolean
        metadata:
          type: object
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        phone_number:
          type: string
        postal_code:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_primary_alias:
          type: string
        updated_at:
          type: string
          format: date-time
        whatsapp_number:
          type: string
    discount_coupons:
      type: object
      description: discount_coupons object
      properties:
        applies_to_product_types:
          type: string
        code:
          type: string
        coupon_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        current_uses:
          type: number
          format: double
        customer_type:
          type: string
        description:
          type: string
        discount_fixed_amount:
          type: number
          format: double
        discount_percentage:
          type: number
          format: double
        discount_type:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_organization_wide:
          type: boolean
        max_quantity_per_use:
          type: number
          format: double
        max_uses:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        scope_type:
          type: string
        updated_at:
          type: string
          format: date-time
        usage_frequency_limit:
          type: string
        usage_limit_value:
          type: number
          format: double
        valid_from:
          type: string
    discount_coupons_create:
      type: object
      description: Create discount_coupons input
      required: []
      properties:
        applies_to_product_types:
          type: string
        code:
          type: string
        coupon_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        current_uses:
          type: number
          format: double
        customer_type:
          type: string
        description:
          type: string
        discount_fixed_amount:
          type: number
          format: double
        discount_percentage:
          type: number
          format: double
        discount_type:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_organization_wide:
          type: boolean
        max_quantity_per_use:
          type: number
          format: double
        max_uses:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        scope_type:
          type: string
        updated_at:
          type: string
          format: date-time
        usage_frequency_limit:
          type: string
        usage_limit_value:
          type: number
          format: double
        valid_from:
          type: string
    discount_coupons_update:
      type: object
      description: Update discount_coupons input
      properties:
        applies_to_product_types:
          type: string
        code:
          type: string
        coupon_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        current_uses:
          type: number
          format: double
        customer_type:
          type: string
        description:
          type: string
        discount_fixed_amount:
          type: number
          format: double
        discount_percentage:
          type: number
          format: double
        discount_type:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_organization_wide:
          type: boolean
        max_quantity_per_use:
          type: number
          format: double
        max_uses:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        scope_type:
          type: string
        updated_at:
          type: string
          format: date-time
        usage_frequency_limit:
          type: string
        usage_limit_value:
          type: number
          format: double
        valid_from:
          type: string
    events:
      type: object
      description: events object
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        event_data:
          type: object
        event_id:
          type: string
          format: uuid
        event_name:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
    events_create:
      type: object
      description: Create events input
      required: []
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        event_data:
          type: object
        event_id:
          type: string
          format: uuid
        event_name:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
    events_update:
      type: object
      description: Update events input
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        event_data:
          type: object
        event_id:
          type: string
          format: uuid
        event_name:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
    installment_payments:
      type: object
      description: installment_payments object
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        due_date:
          type: string
        installment_id:
          type: string
          format: uuid
        interest_amount:
          type: number
          format: double
        paid_at:
          type: string
          format: date-time
        payment_link:
          type: string
        payment_method_code:
          type: string
        plan_id:
          type: string
          format: uuid
        principal_amount:
          type: number
          format: double
        processing_fee:
          type: number
          format: double
        provider_code:
          type: string
        sequence_number:
          type: number
          format: double
        spi_payment_request_id:
          type: string
          format: uuid
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        transaction_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    installment_payments_create:
      type: object
      description: Create installment_payments input
      required: []
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        due_date:
          type: string
        installment_id:
          type: string
          format: uuid
        interest_amount:
          type: number
          format: double
        paid_at:
          type: string
          format: date-time
        payment_link:
          type: string
        payment_method_code:
          type: string
        plan_id:
          type: string
          format: uuid
        principal_amount:
          type: number
          format: double
        processing_fee:
          type: number
          format: double
        provider_code:
          type: string
        sequence_number:
          type: number
          format: double
        spi_payment_request_id:
          type: string
          format: uuid
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        transaction_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    installment_payments_update:
      type: object
      description: Update installment_payments input
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        due_date:
          type: string
        installment_id:
          type: string
          format: uuid
        interest_amount:
          type: number
          format: double
        paid_at:
          type: string
          format: date-time
        payment_link:
          type: string
        payment_method_code:
          type: string
        plan_id:
          type: string
          format: uuid
        principal_amount:
          type: number
          format: double
        processing_fee:
          type: number
          format: double
        provider_code:
          type: string
        sequence_number:
          type: number
          format: double
        spi_payment_request_id:
          type: string
          format: uuid
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        transaction_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    meter_balances:
      type: object
      description: meter_balances object
      properties:
        balance:
          type: number
          format: double
        balance_id:
          type: string
          format: uuid
        billable_organization_id:
          type: string
          format: uuid
        consumed_units:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        credited_units:
          type: number
          format: double
        customer_id:
          type: string
          format: uuid
        last_event_id:
          type: string
          format: uuid
        meter_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    meter_balances_create:
      type: object
      description: Create meter_balances input
      required: []
      properties:
        balance:
          type: number
          format: double
        balance_id:
          type: string
          format: uuid
        billable_organization_id:
          type: string
          format: uuid
        consumed_units:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        credited_units:
          type: number
          format: double
        customer_id:
          type: string
          format: uuid
        last_event_id:
          type: string
          format: uuid
        meter_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    meter_balances_update:
      type: object
      description: Update meter_balances input
      properties:
        balance:
          type: number
          format: double
        balance_id:
          type: string
          format: uuid
        billable_organization_id:
          type: string
          format: uuid
        consumed_units:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        credited_units:
          type: number
          format: double
        customer_id:
          type: string
          format: uuid
        last_event_id:
          type: string
          format: uuid
        meter_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    meters:
      type: object
      description: meters object
      properties:
        aggregation:
          type: object
        created_at:
          type: string
          format: date-time
        filter:
          type: object
        is_active:
          type: boolean
        meter_id:
          type: string
          format: uuid
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    meters_create:
      type: object
      description: Create meters input
      required: []
      properties:
        aggregation:
          type: object
        created_at:
          type: string
          format: date-time
        filter:
          type: object
        is_active:
          type: boolean
        meter_id:
          type: string
          format: uuid
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    meters_update:
      type: object
      description: Update meters input
      properties:
        aggregation:
          type: object
        created_at:
          type: string
          format: date-time
        filter:
          type: object
        is_active:
          type: boolean
        meter_id:
          type: string
          format: uuid
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    payment_links:
      type: object
      description: payment_links object
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
        cancel_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        link_id:
          type: string
          format: uuid
        link_type:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        private_description:
          type: string
        product_id:
          type: string
          format: uuid
        public_description:
          type: string
        quantity:
          type: number
          format: double
        success_url:
          type: string
          format: uri
        title:
          type: string
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
    payment_links_create:
      type: object
      description: Create payment_links input
      required: []
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
        cancel_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        link_id:
          type: string
          format: uuid
        link_type:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        private_description:
          type: string
        product_id:
          type: string
          format: uuid
        public_description:
          type: string
        quantity:
          type: number
          format: double
        success_url:
          type: string
          format: uri
        title:
          type: string
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
    payment_links_update:
      type: object
      description: Update payment_links input
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
        cancel_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        link_id:
          type: string
          format: uuid
        link_type:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        private_description:
          type: string
        product_id:
          type: string
          format: uuid
        public_description:
          type: string
        quantity:
          type: number
          format: double
        success_url:
          type: string
          format: uri
        title:
          type: string
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
    payment_requests:
      type: object
      description: payment_requests object
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        description:
          type: string
        environment:
          type: string
        expiry_date:
          type: string
        organization_id:
          type: string
          format: uuid
        payment_link:
          type: string
        payment_reference:
          type: string
        request_id:
          type: string
          format: uuid
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        spi_confirmation:
          type: boolean
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_date_limite_paiement:
          type: string
        spi_date_limite_reponse:
          type: string
        spi_date_rejet:
          type: string
        spi_debit_differe:
          type: boolean
        spi_end2end_id:
          type: string
          format: uuid
        spi_payeur_alias:
          type: string
        spi_payeur_nom:
          type: string
        spi_payeur_pays:
          type: string
        spi_payment_request_category:
          type: string
        spi_payment_status:
          type: string
        spi_ref_doc_numero:
          type: string
        spi_ref_doc_type:
          type: string
        spi_rejection_reason:
          type: string
        spi_remise_amount:
          type: number
          format: double
        spi_remise_rate:
          type: number
          format: double
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    payment_requests_create:
      type: object
      description: Create payment_requests input
      required: []
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        description:
          type: string
        environment:
          type: string
        expiry_date:
          type: string
        organization_id:
          type: string
          format: uuid
        payment_link:
          type: string
        payment_reference:
          type: string
        request_id:
          type: string
          format: uuid
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        spi_confirmation:
          type: boolean
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_date_limite_paiement:
          type: string
        spi_date_limite_reponse:
          type: string
        spi_date_rejet:
          type: string
        spi_debit_differe:
          type: boolean
        spi_end2end_id:
          type: string
          format: uuid
        spi_payeur_alias:
          type: string
        spi_payeur_nom:
          type: string
        spi_payeur_pays:
          type: string
        spi_payment_request_category:
          type: string
        spi_payment_status:
          type: string
        spi_ref_doc_numero:
          type: string
        spi_ref_doc_type:
          type: string
        spi_rejection_reason:
          type: string
        spi_remise_amount:
          type: number
          format: double
        spi_remise_rate:
          type: number
          format: double
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    payment_requests_update:
      type: object
      description: Update payment_requests input
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        description:
          type: string
        environment:
          type: string
        expiry_date:
          type: string
        organization_id:
          type: string
          format: uuid
        payment_link:
          type: string
        payment_reference:
          type: string
        request_id:
          type: string
          format: uuid
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        spi_confirmation:
          type: boolean
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_date_limite_paiement:
          type: string
        spi_date_limite_reponse:
          type: string
        spi_date_rejet:
          type: string
        spi_debit_differe:
          type: boolean
        spi_end2end_id:
          type: string
          format: uuid
        spi_payeur_alias:
          type: string
        spi_payeur_nom:
          type: string
        spi_payeur_pays:
          type: string
        spi_payment_request_category:
          type: string
        spi_payment_status:
          type: string
        spi_ref_doc_numero:
          type: string
        spi_ref_doc_type:
          type: string
        spi_rejection_reason:
          type: string
        spi_remise_amount:
          type: number
          format: double
        spi_remise_rate:
          type: number
          format: double
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    payout_methods:
      type: object
      description: payout_methods object
      properties:
        account_name:
          type: string
        account_number:
          type: string
        auto_withdrawal_day:
          type: number
          format: double
        auto_withdrawal_enabled:
          type: boolean
        auto_withdrawal_last_run:
          type: string
        auto_withdrawal_method:
          type: string
        auto_withdrawal_mobile_provider:
          type: string
        bank_code:
          type: string
        bank_name:
          type: string
        branch_code:
          type: string
        country:
          type: string
        created_at:
          type: string
          format: date-time
        is_default:
          type: boolean
        is_spi_enabled:
          type: boolean
        is_uemoa:
          type: boolean
        is_valid:
          type: boolean
        organization_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        payout_method_type:
          type: string
        spi_account_number:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_alias_type:
          type: string
        updated_at:
          type: string
          format: date-time
    payout_methods_create:
      type: object
      description: Create payout_methods input
      required: []
      properties:
        account_name:
          type: string
        account_number:
          type: string
        auto_withdrawal_day:
          type: number
          format: double
        auto_withdrawal_enabled:
          type: boolean
        auto_withdrawal_last_run:
          type: string
        auto_withdrawal_method:
          type: string
        auto_withdrawal_mobile_provider:
          type: string
        bank_code:
          type: string
        bank_name:
          type: string
        branch_code:
          type: string
        country:
          type: string
        created_at:
          type: string
          format: date-time
        is_default:
          type: boolean
        is_spi_enabled:
          type: boolean
        is_uemoa:
          type: boolean
        is_valid:
          type: boolean
        organization_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        payout_method_type:
          type: string
        spi_account_number:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_alias_type:
          type: string
        updated_at:
          type: string
          format: date-time
    payout_methods_update:
      type: object
      description: Update payout_methods input
      properties:
        account_name:
          type: string
        account_number:
          type: string
        auto_withdrawal_day:
          type: number
          format: double
        auto_withdrawal_enabled:
          type: boolean
        auto_withdrawal_last_run:
          type: string
        auto_withdrawal_method:
          type: string
        auto_withdrawal_mobile_provider:
          type: string
        bank_code:
          type: string
        bank_name:
          type: string
        branch_code:
          type: string
        country:
          type: string
        created_at:
          type: string
          format: date-time
        is_default:
          type: boolean
        is_spi_enabled:
          type: boolean
        is_uemoa:
          type: boolean
        is_valid:
          type: boolean
        organization_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        payout_method_type:
          type: string
        spi_account_number:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_alias_type:
          type: string
        updated_at:
          type: string
          format: date-time
    payouts:
      type: object
      description: payouts object
      properties:
        account_id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        environment:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        provider_code:
          type: string
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    payouts_create:
      type: object
      description: Create payouts input
      required: []
      properties:
        account_id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        environment:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        provider_code:
          type: string
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    payouts_update:
      type: object
      description: Update payouts input
      properties:
        account_id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency_code:
          type: string
        environment:
          type: string
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
        payout_method_id:
          type: string
          format: uuid
        provider_code:
          type: string
        status:
          type: string
        updated_at:
          type: string
          format: date-time
    prices:
      type: object
      description: prices object
      properties:
        amount:
          type: number
          format: double
        billing_interval:
          type: string
        created_at:
          type: string
          format: date-time
        currency_code:
          type: string
        environment:
          type: string
        is_active:
          type: boolean
        is_default:
          type: boolean
        maximum_amount:
          type: number
          format: double
        metadata:
          type: object
        minimum_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        pricing_model:
          type: string
        product_id:
          type: string
          format: uuid
        provider_price_id:
          type: string
          format: uuid
        provider_product_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    prices_create:
      type: object
      description: Create prices input
      required: []
      properties:
        amount:
          type: number
          format: double
        billing_interval:
          type: string
        created_at:
          type: string
          format: date-time
        currency_code:
          type: string
        environment:
          type: string
        is_active:
          type: boolean
        is_default:
          type: boolean
        maximum_amount:
          type: number
          format: double
        metadata:
          type: object
        minimum_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        pricing_model:
          type: string
        product_id:
          type: string
          format: uuid
        provider_price_id:
          type: string
          format: uuid
        provider_product_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    prices_update:
      type: object
      description: Update prices input
      properties:
        amount:
          type: number
          format: double
        billing_interval:
          type: string
        created_at:
          type: string
          format: date-time
        currency_code:
          type: string
        environment:
          type: string
        is_active:
          type: boolean
        is_default:
          type: boolean
        maximum_amount:
          type: number
          format: double
        metadata:
          type: object
        minimum_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        pricing_model:
          type: string
        product_id:
          type: string
          format: uuid
        provider_price_id:
          type: string
          format: uuid
        provider_product_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    products:
      type: object
      description: products object
      properties:
        billing_frequency:
          type: string
        charge_day:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        description:
          type: string
        display_on_storefront:
          type: boolean
        environment:
          type: string
        failed_payment_action:
          type: string
        first_payment_type:
          type: string
        image_url:
          type: string
          format: uri
        is_active:
          type: boolean
        metadata:
          type: object
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        product_type:
          type: string
        updated_at:
          type: string
          format: date-time
        usage_aggregation:
          type: string
        usage_unit:
          type: string
    products_create:
      type: object
      description: Create products input
      required: []
      properties:
        billing_frequency:
          type: string
        charge_day:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        description:
          type: string
        display_on_storefront:
          type: boolean
        environment:
          type: string
        failed_payment_action:
          type: string
        first_payment_type:
          type: string
        image_url:
          type: string
          format: uri
        is_active:
          type: boolean
        metadata:
          type: object
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        product_type:
          type: string
        updated_at:
          type: string
          format: date-time
        usage_aggregation:
          type: string
        usage_unit:
          type: string
    products_update:
      type: object
      description: Update products input
      properties:
        billing_frequency:
          type: string
        charge_day:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        description:
          type: string
        display_on_storefront:
          type: boolean
        environment:
          type: string
        failed_payment_action:
          type: string
        first_payment_type:
          type: string
        image_url:
          type: string
          format: uri
        is_active:
          type: boolean
        metadata:
          type: object
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        product_type:
          type: string
        updated_at:
          type: string
          format: date-time
        usage_aggregation:
          type: string
        usage_unit:
          type: string
    refunds:
      type: object
      description: refunds object
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        metadata:
          type: object
        reason:
          type: string
        refund_id:
          type: string
          format: uuid
        refunded_amount:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_end2end_id:
          type: string
          format: uuid
        spi_fund_return_status:
          type: string
        spi_motif_code:
          type: string
        spi_rejection_reason:
          type: string
        spi_retour_date_demande:
          type: string
        spi_retour_date_irrevocabilite:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        transaction_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    refunds_create:
      type: object
      description: Create refunds input
      required: []
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        metadata:
          type: object
        reason:
          type: string
        refund_id:
          type: string
          format: uuid
        refunded_amount:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_end2end_id:
          type: string
          format: uuid
        spi_fund_return_status:
          type: string
        spi_motif_code:
          type: string
        spi_rejection_reason:
          type: string
        spi_retour_date_demande:
          type: string
        spi_retour_date_irrevocabilite:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        transaction_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    refunds_update:
      type: object
      description: Update refunds input
      properties:
        amount:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        metadata:
          type: object
        reason:
          type: string
        refund_id:
          type: string
          format: uuid
        refunded_amount:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_end2end_id:
          type: string
          format: uuid
        spi_fund_return_status:
          type: string
        spi_motif_code:
          type: string
        spi_rejection_reason:
          type: string
        spi_retour_date_demande:
          type: string
        spi_retour_date_irrevocabilite:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        transaction_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    spi_account_aliases:
      type: object
      description: spi_account_aliases object
      properties:
        account_number:
          type: string
        alias_id:
          type: string
          format: uuid
        alias_key:
          type: string
        alias_type:
          type: string
        created_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_default:
          type: boolean
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    spi_account_aliases_create:
      type: object
      description: Create spi_account_aliases input
      required: []
      properties:
        account_number:
          type: string
        alias_id:
          type: string
          format: uuid
        alias_key:
          type: string
        alias_type:
          type: string
        created_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_default:
          type: boolean
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    spi_account_aliases_update:
      type: object
      description: Update spi_account_aliases input
      properties:
        account_number:
          type: string
        alias_id:
          type: string
          format: uuid
        alias_key:
          type: string
        alias_type:
          type: string
        created_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_default:
          type: boolean
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    spi_qr_codes:
      type: object
      description: spi_qr_codes object
      properties:
        categorie:
          type: string
        checkout_session_id:
          type: string
          format: uuid
        compte_paye:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_used:
          type: boolean
        metadata:
          type: object
        montant:
          type: number
          format: double
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        payeur_alias:
          type: string
        payment_request_id:
          type: string
          format: uuid
        plan_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        qr_code_data:
          type: string
        qr_code_id:
          type: string
          format: uuid
        qr_code_image_data:
          type: string
        qr_code_image_url:
          type: string
          format: uri
        qr_code_type:
          type: string
        updated_at:
          type: string
          format: date-time
    spi_qr_codes_create:
      type: object
      description: Create spi_qr_codes input
      required: []
      properties:
        categorie:
          type: string
        checkout_session_id:
          type: string
          format: uuid
        compte_paye:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_used:
          type: boolean
        metadata:
          type: object
        montant:
          type: number
          format: double
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        payeur_alias:
          type: string
        payment_request_id:
          type: string
          format: uuid
        plan_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        qr_code_data:
          type: string
        qr_code_id:
          type: string
          format: uuid
        qr_code_image_data:
          type: string
        qr_code_image_url:
          type: string
          format: uri
        qr_code_type:
          type: string
        updated_at:
          type: string
          format: date-time
    spi_qr_codes_update:
      type: object
      description: Update spi_qr_codes input
      properties:
        categorie:
          type: string
        checkout_session_id:
          type: string
          format: uuid
        compte_paye:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        is_used:
          type: boolean
        metadata:
          type: object
        montant:
          type: number
          format: double
        name:
          type: string
        organization_id:
          type: string
          format: uuid
        payeur_alias:
          type: string
        payment_request_id:
          type: string
          format: uuid
        plan_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        qr_code_data:
          type: string
        qr_code_id:
          type: string
          format: uuid
        qr_code_image_data:
          type: string
        qr_code_image_url:
          type: string
          format: uri
        qr_code_type:
          type: string
        updated_at:
          type: string
          format: date-time
    subscriptions:
      type: object
      description: subscriptions object
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        end_date:
          type: string
        environment:
          type: string
        metadata:
          type: object
        next_billing_date:
          type: string
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        start_date:
          type: string
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    subscriptions_create:
      type: object
      description: Create subscriptions input
      required: []
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        end_date:
          type: string
        environment:
          type: string
        metadata:
          type: object
        next_billing_date:
          type: string
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        start_date:
          type: string
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    subscriptions_update:
      type: object
      description: Update subscriptions input
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        customer_id:
          type: string
          format: uuid
        end_date:
          type: string
        environment:
          type: string
        metadata:
          type: object
        next_billing_date:
          type: string
        organization_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        start_date:
          type: string
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        updated_at:
          type: string
          format: date-time
    transactions:
      type: object
      description: transactions object
      properties:
        checkout_session_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        description:
          type: string
        discount_amount:
          type: number
          format: double
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        fee_structure_id:
          type: string
          format: uuid
        gross_amount:
          type: number
          format: double
        is_bnpl:
          type: boolean
        is_pos:
          type: boolean
        metadata:
          type: object
        net_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        provider_code:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_discount_amount:
          type: number
          format: double
        spi_discount_rate:
          type: number
          format: double
        spi_end2end_id:
          type: string
          format: uuid
        spi_payment_category:
          type: string
        spi_payment_flow_type:
          type: string
        spi_payment_status:
          type: string
        spi_rejection_reason:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        transaction_id:
          type: string
          format: uuid
        transaction_type:
          type: string
        updated_at:
          type: string
          format: date-time
    transactions_create:
      type: object
      description: Create transactions input
      required: []
      properties:
        checkout_session_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        description:
          type: string
        discount_amount:
          type: number
          format: double
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        fee_structure_id:
          type: string
          format: uuid
        gross_amount:
          type: number
          format: double
        is_bnpl:
          type: boolean
        is_pos:
          type: boolean
        metadata:
          type: object
        net_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        provider_code:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_discount_amount:
          type: number
          format: double
        spi_discount_rate:
          type: number
          format: double
        spi_end2end_id:
          type: string
          format: uuid
        spi_payment_category:
          type: string
        spi_payment_flow_type:
          type: string
        spi_payment_status:
          type: string
        spi_rejection_reason:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        transaction_id:
          type: string
          format: uuid
        transaction_type:
          type: string
        updated_at:
          type: string
          format: date-time
    transactions_update:
      type: object
      description: Update transactions input
      properties:
        checkout_session_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        currency_code:
          type: string
        customer_id:
          type: string
          format: uuid
        description:
          type: string
        discount_amount:
          type: number
          format: double
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        fee_structure_id:
          type: string
          format: uuid
        gross_amount:
          type: number
          format: double
        is_bnpl:
          type: boolean
        is_pos:
          type: boolean
        metadata:
          type: object
        net_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        payment_method_code:
          type: string
        price_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        provider_code:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_discount_amount:
          type: number
          format: double
        spi_discount_rate:
          type: number
          format: double
        spi_end2end_id:
          type: string
          format: uuid
        spi_payment_category:
          type: string
        spi_payment_flow_type:
          type: string
        spi_payment_status:
          type: string
        spi_rejection_reason:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        status:
          type: string
        subscription_id:
          type: string
          format: uuid
        transaction_id:
          type: string
          format: uuid
        transaction_type:
          type: string
        updated_at:
          type: string
          format: date-time
    webhook_delivery_logs:
      type: object
      description: webhook_delivery_logs object
      properties:
        attempt_number:
          type: number
          format: double
        compte_paye:
          type: string
        compte_payeur:
          type: string
        created_at:
          type: string
          format: date-time
        event_type:
          type: string
        headers:
          type: object
        ip_address:
          type: string
        log_id:
          type: string
          format: uuid
        montant:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        payload:
          type: object
        request_duration_ms:
          type: number
          format: double
        response_body:
          type: string
        response_status:
          type: number
          format: double
        spi_event_code:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        success:
          type: boolean
        user_agent:
          type: string
        webhook_id:
          type: string
          format: uuid
    webhook_delivery_logs_create:
      type: object
      description: Create webhook_delivery_logs input
      required: []
      properties:
        attempt_number:
          type: number
          format: double
        compte_paye:
          type: string
        compte_payeur:
          type: string
        created_at:
          type: string
          format: date-time
        event_type:
          type: string
        headers:
          type: object
        ip_address:
          type: string
        log_id:
          type: string
          format: uuid
        montant:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        payload:
          type: object
        request_duration_ms:
          type: number
          format: double
        response_body:
          type: string
        response_status:
          type: number
          format: double
        spi_event_code:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        success:
          type: boolean
        user_agent:
          type: string
        webhook_id:
          type: string
          format: uuid
    webhook_delivery_logs_update:
      type: object
      description: Update webhook_delivery_logs input
      properties:
        attempt_number:
          type: number
          format: double
        compte_paye:
          type: string
        compte_payeur:
          type: string
        created_at:
          type: string
          format: date-time
        event_type:
          type: string
        headers:
          type: object
        ip_address:
          type: string
        log_id:
          type: string
          format: uuid
        montant:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
        payload:
          type: object
        request_duration_ms:
          type: number
          format: double
        response_body:
          type: string
        response_status:
          type: number
          format: double
        spi_event_code:
          type: string
        spi_tx_id:
          type: string
          format: uuid
        success:
          type: boolean
        user_agent:
          type: string
        webhook_id:
          type: string
          format: uuid
    webhooks:
      type: object
      description: webhooks object
      properties:
        authorized_events:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        deleted_at:
          type: string
          format: date-time
        environment:
          type: string
        is_active:
          type: boolean
        last_payload:
          type: object
        last_response_body:
          type: string
        last_response_status:
          type: number
          format: double
        last_triggered_at:
          type: string
          format: date-time
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        retry_count:
          type: number
          format: double
        spi_event_types:
          type: string
        supports_spi:
          type: boolean
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        verification_token:
          type: string
        webhook_id:
          type: string
          format: uuid
    webhooks_create:
      type: object
      description: Create webhooks input
      required: []
      properties:
        authorized_events:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        deleted_at:
          type: string
          format: date-time
        environment:
          type: string
        is_active:
          type: boolean
        last_payload:
          type: object
        last_response_body:
          type: string
        last_response_status:
          type: number
          format: double
        last_triggered_at:
          type: string
          format: date-time
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        retry_count:
          type: number
          format: double
        spi_event_types:
          type: string
        supports_spi:
          type: boolean
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        verification_token:
          type: string
        webhook_id:
          type: string
          format: uuid
    webhooks_update:
      type: object
      description: Update webhooks input
      properties:
        authorized_events:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        deleted_at:
          type: string
          format: date-time
        environment:
          type: string
        is_active:
          type: boolean
        last_payload:
          type: object
        last_response_body:
          type: string
        last_response_status:
          type: number
          format: double
        last_triggered_at:
          type: string
          format: date-time
        metadata:
          type: object
        organization_id:
          type: string
          format: uuid
        retry_count:
          type: number
          format: double
        spi_event_types:
          type: string
        supports_spi:
          type: boolean
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        verification_token:
          type: string
        webhook_id:
          type: string
          format: uuid
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
    bnpl_status:
      type: string
      enum:
        - pending
        - collected
        - waived
        - refunded
      description: 'Enum: bnpl_status'
    checkout_session_status:
      type: string
      enum:
        - open
        - completed
        - expired
      description: 'Enum: checkout_session_status'
    currency_code:
      type: string
      enum:
        - XOF
        - USD
        - EUR
      description: 'Enum: currency_code'
    frequency:
      type: string
      enum:
        - weekly
        - bi-weekly
        - monthly
        - bi-monthly
        - quarterly
        - semi-annual
        - yearly
      description: 'Enum: frequency'
    invoice_status:
      type: string
      enum:
        - sent
        - paid
        - overdue
        - cancelled
      description: 'Enum: invoice_status'
    payment_method_code:
      type: string
      enum:
        - CARDS
        - MOBILE_MONEY
        - BANK_TRANSFER
        - BNPL
        - FREE
      description: 'Enum: payment_method_code'
    payout_status:
      type: string
      enum:
        - pending
        - processing
        - completed
        - failed
      description: 'Enum: payout_status'
    pricing_model_enum:
      type: string
      enum:
        - standard
        - pay_what_you_want
        - tiered
        - volume
      description: 'Enum: pricing_model_enum'
    product_type_enum:
      type: string
      enum:
        - one_time
        - recurring
        - usage_based
      description: 'Enum: product_type_enum'
    provider_code:
      type: string
      enum:
        - WAVE
        - JUMBO
        - MTN
        - STRIPE
        - SPI
        - CYBERSOURCE
        - FREE
      description: 'Enum: provider_code'
    refund_status:
      type: string
      enum:
        - pending
        - completed
        - failed
      description: 'Enum: refund_status'
    spi_account_status:
      type: string
      enum:
        - OUVERT
        - BLOQUE
        - CLOTURE
      description: 'Enum: spi_account_status'
    spi_account_type:
      type: string
      enum:
        - CACC
        - CARD
        - CASH
        - CHAR
        - CISH
        - CURR
        - DPST
        - SVGS
        - ULAA
      description: 'Enum: spi_account_type'
    spi_payment_status:
      type: string
      enum:
        - INITIE
        - ENVOYE
        - IRREVOCABLE
        - REJETE
      description: 'Enum: spi_payment_status'
    subscription_status:
      type: string
      enum:
        - pending
        - active
        - paused
        - cancelled
        - expired
        - past_due
        - trial
      description: 'Enum: subscription_status'
    transaction_status:
      type: string
      enum:
        - pending
        - completed
        - failed
        - refunded
        - expired
      description: 'Enum: transaction_status'
    webhook_event:
      type: string
      enum:
        - PAYMENT_CREATED
        - PAYMENT_SUCCEEDED
        - PAYMENT_FAILED
        - PAYMENT_CANCELED
        - REFUND_CREATED
        - REFUND_COMPLETED
        - REFUND_FAILED
        - SUBSCRIPTION_CREATED
        - SUBSCRIPTION_RENEWED
        - SUBSCRIPTION_CANCELED
        - CHECKOUT_COMPLETED
        - PROVIDER_STATUS_CHANGED
      description: 'Enum: webhook_event'
  responses:
    BadRequest:
      description: Bad request - Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
paths:
  /customers:
    get:
      summary: List customers
      description: Retrieve a paginated list of customers
      tags:
        - customer
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
        - name: sort
          in: query
          description: Sort order (e.g., created_at:desc)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/customers'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      total:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create customer
      description: Create a new customer
      tags:
        - customer
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customers_create'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /customers/{customer_id}:
    get:
      summary: Get customer
      description: Retrieve a specific customer by ID
      tags:
        - customer
      security:
        - ApiKeyAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          description: The customer ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      summary: Update customer
      description: Update a specific customer
      tags:
        - customer
      security:
        - ApiKeyAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          description: The customer ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customers_update'
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete customer
      description: Delete a specific customer
      tags:
        - customer
      security:
        - ApiKeyAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          description: The customer ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Successfully deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /payment_requests:
    get:
      summary: List payment_requests
      description: Retrieve a paginated list of payment_requests
      tags:
        - payment_request
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
        - name: sort
          in: query
          description: Sort order (e.g., created_at:desc)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/payment_requests'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      total:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create payment_request
      description: Create a new payment_request
      tags:
        - payment_request
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_requests_create'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_requests'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /payment_requests/{request_id}:
    get:
      summary: Get payment_request
      description: Retrieve a specific payment_request by ID
      tags:
        - payment_request
      security:
        - ApiKeyAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          description: The payment_request ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_requests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      summary: Update payment_request
      description: Update a specific payment_request
      tags:
        - payment_request
      security:
        - ApiKeyAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          description: The payment_request ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_requests_update'
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_requests'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      summary: Delete payment_request
      description: Delete a specific payment_request
      tags:
        - payment_request
      security:
        - ApiKeyAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          description: The payment_request ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Successfully deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /transactions:
    get:
      summary: List transactions
      description: Retrieve a paginated list of transactions
      tags:
        - transaction
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
        - name: sort
          in: query
          description: Sort order (e.g., created_at:desc)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/transactions'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      total:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /transactions/{transaction_id}:
    get:
      summary: Get transaction
      description: Retrieve a specific transaction by ID
      tags:
        - transaction
      security:
        - ApiKeyAuth: []
      parameters:
        - name: transaction_id
          in: path
          required: true
          description: The transaction ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /refunds:
    get:
      summary: List refunds
      description: Retrieve a paginated list of refunds
      tags:
        - refund
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
        - name: sort
          in: query
          description: Sort order (e.g., created_at:desc)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/refunds'
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      total:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create refund
      description: Create a new refund
      tags:
        - refund
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refunds_create'
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refunds'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /refunds/{refund_id}:
    get:
      summary: Get refund
      description: Retrieve a specific refund by ID
      tags:
        - refund
      security:
        - ApiKeyAuth: []
      parameters:
        - name: refund_id
          in: path
          required: true
          description: The refund ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
[...]
