openapi: 3.0.3
info:
  title: lomi. API
  version: 1.1.0
  description: Payment processing API for francophone West African businesses.
  contact:
    name: lomi. Support
    email: hello@lomi.africa
    url: https://lomi.africa
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.lomi.africa/v1
    description: Production server
  - url: https://sandbox.api.lomi.africa/v1
    description: Sandbox server
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key for authentication. Get yours from the lomi. dashboard.
  schemas:
    beneficiary_payouts:
      type: object
      description: beneficiary payouts resource object
      properties:
        account_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    beneficiary_payouts_create:
      type: object
      description: Request body for creating a beneficiary payouts object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        account_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
    beneficiary_payouts_update:
      type: object
      description: Request body for updating a beneficiary payouts object. Only include fields you want to modify.
      properties:
        account_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
    checkout_sessions:
      type: object
      description: checkout sessions resource object
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        cancel_url:
          type: string
          format: uri
          description: URL/URI
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_email:
          type: string
          format: email
          description: Email address
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        customer_name:
          type: string
        customer_phone:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        installment_plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        is_pos:
          type: boolean
        is_spi:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_link_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        public_description:
          type: string
        qr_code_data:
          type: object
        qr_code_type:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_qr_code_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        subscription_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        success_url:
          type: string
          format: uri
          description: URL/URI
        title:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    checkout_sessions_create:
      type: object
      description: Request body for creating a checkout sessions object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        cancel_url:
          type: string
          format: uri
          description: URL/URI
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_email:
          type: string
          format: email
          description: Email address
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        customer_name:
          type: string
        customer_phone:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        installment_plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        is_pos:
          type: boolean
        is_spi:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        payment_link_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        public_description:
          type: string
        qr_code_data:
          type: object
        qr_code_type:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_qr_code_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        subscription_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        success_url:
          type: string
          format: uri
          description: URL/URI
        title:
          type: string
    checkout_sessions_update:
      type: object
      description: Request body for updating a checkout sessions object. Only include fields you want to modify.
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        cancel_url:
          type: string
          format: uri
          description: URL/URI
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_email:
          type: string
          format: email
          description: Email address
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        customer_name:
          type: string
        customer_phone:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        installment_plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        is_pos:
          type: boolean
        is_spi:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        payment_link_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        public_description:
          type: string
        qr_code_data:
          type: object
        qr_code_type:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_qr_code_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        subscription_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        success_url:
          type: string
          format: uri
          description: URL/URI
        title:
          type: string
    customer_invoices:
      type: object
      description: customer invoices resource object
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        customer_invoice_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        due_date:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    customer_invoices_create:
      type: object
      description: Request body for creating a customer invoices object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        customer_invoice_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        due_date:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        status:
          type: string
          description: Current status of the resource
    customer_invoices_update:
      type: object
      description: Request body for updating a customer invoices object. Only include fields you want to modify.
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        customer_invoice_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        due_date:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        status:
          type: string
          description: Current status of the resource
    customers:
      type: object
      description: customers resource object
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        customer_id:
          type: string
          readOnly: true
          format: uuid
          description: Unique identifier (UUID format)
        deleted_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        email:
          type: string
          format: email
          description: Email address
        environment:
          type: string
        is_business:
          type: boolean
        is_deleted:
          type: boolean
          description: Soft deletion flag
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        phone_number:
          type: string
        postal_code:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_primary_alias:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        whatsapp_number:
          type: string
    customers_create:
      type: object
      description: Request body for creating a customers object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        email:
          type: string
          format: email
          description: Email address
        is_business:
          type: boolean
        is_deleted:
          type: boolean
          description: Soft deletion flag
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        name:
          type: string
        phone_number:
          type: string
        postal_code:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_primary_alias:
          type: string
        whatsapp_number:
          type: string
    customers_update:
      type: object
      description: Request body for updating a customers object. Only include fields you want to modify.
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        email:
          type: string
          format: email
          description: Email address
        is_business:
          type: boolean
        is_deleted:
          type: boolean
          description: Soft deletion flag
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        name:
          type: string
        phone_number:
          type: string
        postal_code:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_primary_alias:
          type: string
        whatsapp_number:
          type: string
    discount_coupons:
      type: object
      description: discount coupons resource object
      properties:
        applies_to_product_types:
          type: string
        code:
          type: string
        coupon_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        current_uses:
          type: number
          format: double
        customer_type:
          type: string
        description:
          type: string
        discount_fixed_amount:
          type: number
          format: double
        discount_percentage:
          type: number
          format: double
        discount_type:
          type: string
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_organization_wide:
          type: boolean
        max_quantity_per_use:
          type: number
          format: double
        max_uses:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        scope_type:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        usage_frequency_limit:
          type: string
        usage_limit_value:
          type: number
          format: double
        valid_from:
          type: string
    discount_coupons_create:
      type: object
      description: Request body for creating a discount coupons object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        applies_to_product_types:
          type: string
        code:
          type: string
        coupon_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        current_uses:
          type: number
          format: double
        customer_type:
          type: string
        description:
          type: string
        discount_fixed_amount:
          type: number
          format: double
        discount_percentage:
          type: number
          format: double
        discount_type:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_organization_wide:
          type: boolean
        max_quantity_per_use:
          type: number
          format: double
        max_uses:
          type: number
          format: double
        scope_type:
          type: string
        usage_frequency_limit:
          type: string
        usage_limit_value:
          type: number
          format: double
        valid_from:
          type: string
    discount_coupons_update:
      type: object
      description: Request body for updating a discount coupons object. Only include fields you want to modify.
      properties:
        applies_to_product_types:
          type: string
        code:
          type: string
        coupon_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        current_uses:
          type: number
          format: double
        customer_type:
          type: string
        description:
          type: string
        discount_fixed_amount:
          type: number
          format: double
        discount_percentage:
          type: number
          format: double
        discount_type:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_organization_wide:
          type: boolean
        max_quantity_per_use:
          type: number
          format: double
        max_uses:
          type: number
          format: double
        scope_type:
          type: string
        usage_frequency_limit:
          type: string
        usage_limit_value:
          type: number
          format: double
        valid_from:
          type: string
    events:
      type: object
      description: events resource object
      properties:
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        event_data:
          type: object
        event_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        event_name:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    events_create:
      type: object
      description: Request body for creating a events object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        event_data:
          type: object
        event_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        event_name:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    events_update:
      type: object
      description: Request body for updating a events object. Only include fields you want to modify.
      properties:
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        event_data:
          type: object
        event_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        event_name:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    installment_payments:
      type: object
      description: installment payments resource object
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        due_date:
          type: string
        installment_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        interest_amount:
          type: number
          format: double
        paid_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        payment_link:
          type: string
        payment_method_code:
          type: string
        plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        principal_amount:
          type: number
          format: double
        processing_fee:
          type: number
          format: double
        provider_code:
          type: string
        sequence_number:
          type: number
          format: double
        spi_payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        transaction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    installment_payments_create:
      type: object
      description: Request body for creating a installment payments object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        due_date:
          type: string
        installment_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        interest_amount:
          type: number
          format: double
        paid_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        payment_link:
          type: string
        payment_method_code:
          type: string
        plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        principal_amount:
          type: number
          format: double
        processing_fee:
          type: number
          format: double
        provider_code:
          type: string
        sequence_number:
          type: number
          format: double
        spi_payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        transaction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    installment_payments_update:
      type: object
      description: Request body for updating a installment payments object. Only include fields you want to modify.
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        due_date:
          type: string
        installment_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        interest_amount:
          type: number
          format: double
        paid_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        payment_link:
          type: string
        payment_method_code:
          type: string
        plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        principal_amount:
          type: number
          format: double
        processing_fee:
          type: number
          format: double
        provider_code:
          type: string
        sequence_number:
          type: number
          format: double
        spi_payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        transaction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    meter_balances:
      type: object
      description: meter balances resource object
      properties:
        balance:
          type: number
          format: double
        balance_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        billable_organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        consumed_units:
          type: number
          format: double
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        credited_units:
          type: number
          format: double
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        last_event_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        meter_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    meter_balances_create:
      type: object
      description: Request body for creating a meter balances object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        balance:
          type: number
          format: double
        balance_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        billable_organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        consumed_units:
          type: number
          format: double
        credited_units:
          type: number
          format: double
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        last_event_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        meter_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    meter_balances_update:
      type: object
      description: Request body for updating a meter balances object. Only include fields you want to modify.
      properties:
        balance:
          type: number
          format: double
        balance_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        billable_organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        consumed_units:
          type: number
          format: double
        credited_units:
          type: number
          format: double
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        last_event_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        meter_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    meters:
      type: object
      description: meters resource object
      properties:
        aggregation:
          type: object
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        filter:
          type: object
        is_active:
          type: boolean
          description: Whether this resource is currently active
        meter_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    meters_create:
      type: object
      description: Request body for creating a meters object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        aggregation:
          type: object
        filter:
          type: object
        is_active:
          type: boolean
          description: Whether this resource is currently active
        meter_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        name:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    meters_update:
      type: object
      description: Request body for updating a meters object. Only include fields you want to modify.
      properties:
        aggregation:
          type: object
        filter:
          type: object
        is_active:
          type: boolean
          description: Whether this resource is currently active
        meter_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        name:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    payment_links:
      type: object
      description: payment links resource object
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        cancel_url:
          type: string
          format: uri
          description: URL/URI
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        link_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        link_type:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        private_description:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        public_description:
          type: string
        quantity:
          type: number
          format: double
        success_url:
          type: string
          format: uri
          description: URL/URI
        title:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        url:
          type: string
          format: uri
          description: URL/URI
    payment_links_create:
      type: object
      description: Request body for creating a payment links object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        cancel_url:
          type: string
          format: uri
          description: URL/URI
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        link_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        link_type:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        private_description:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        public_description:
          type: string
        quantity:
          type: number
          format: double
        success_url:
          type: string
          format: uri
          description: URL/URI
        title:
          type: string
        url:
          type: string
          format: uri
          description: URL/URI
    payment_links_update:
      type: object
      description: Request body for updating a payment links object. Only include fields you want to modify.
      properties:
        allow_coupon_code:
          type: boolean
        allow_quantity:
          type: boolean
        allowed_providers:
          type: string
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        cancel_url:
          type: string
          format: uri
          description: URL/URI
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        link_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        link_type:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        private_description:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        public_description:
          type: string
        quantity:
          type: number
          format: double
        success_url:
          type: string
          format: uri
          description: URL/URI
        title:
          type: string
        url:
          type: string
          format: uri
          description: URL/URI
    payment_requests:
      type: object
      description: payment requests resource object
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        environment:
          type: string
        expiry_date:
          type: string
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_link:
          type: string
        payment_reference:
          type: string
        request_id:
          type: string
          readOnly: true
          format: uuid
          description: Unique identifier (UUID format)
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_confirmation:
          type: boolean
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_date_limite_paiement:
          type: string
        spi_date_limite_reponse:
          type: string
        spi_date_rejet:
          type: string
        spi_debit_differe:
          type: boolean
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_payeur_alias:
          type: string
        spi_payeur_nom:
          type: string
        spi_payeur_pays:
          type: string
        spi_payment_request_category:
          type: string
        spi_payment_status:
          type: string
        spi_ref_doc_numero:
          type: string
        spi_ref_doc_type:
          type: string
        spi_rejection_reason:
          type: string
        spi_remise_amount:
          type: number
          format: double
        spi_remise_rate:
          type: number
          format: double
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    payment_requests_create:
      type: object
      description: Request body for creating a payment requests object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        expiry_date:
          type: string
        payment_link:
          type: string
        payment_reference:
          type: string
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_confirmation:
          type: boolean
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_date_limite_paiement:
          type: string
        spi_date_limite_reponse:
          type: string
        spi_date_rejet:
          type: string
        spi_debit_differe:
          type: boolean
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_payeur_alias:
          type: string
        spi_payeur_nom:
          type: string
        spi_payeur_pays:
          type: string
        spi_payment_request_category:
          type: string
        spi_payment_status:
          type: string
        spi_ref_doc_numero:
          type: string
        spi_ref_doc_type:
          type: string
        spi_rejection_reason:
          type: string
        spi_remise_amount:
          type: number
          format: double
        spi_remise_rate:
          type: number
          format: double
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
    payment_requests_update:
      type: object
      description: Request body for updating a payment requests object. Only include fields you want to modify.
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        expiry_date:
          type: string
        payment_link:
          type: string
        payment_reference:
          type: string
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_confirmation:
          type: boolean
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_date_limite_paiement:
          type: string
        spi_date_limite_reponse:
          type: string
        spi_date_rejet:
          type: string
        spi_debit_differe:
          type: boolean
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_payeur_alias:
          type: string
        spi_payeur_nom:
          type: string
        spi_payeur_pays:
          type: string
        spi_payment_request_category:
          type: string
        spi_payment_status:
          type: string
        spi_ref_doc_numero:
          type: string
        spi_ref_doc_type:
          type: string
        spi_rejection_reason:
          type: string
        spi_remise_amount:
          type: number
          format: double
        spi_remise_rate:
          type: number
          format: double
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
    payout_methods:
      type: object
      description: payout methods resource object
      properties:
        account_name:
          type: string
        account_number:
          type: string
        auto_withdrawal_day:
          type: number
          format: double
        auto_withdrawal_enabled:
          type: boolean
        auto_withdrawal_last_run:
          type: string
        auto_withdrawal_method:
          type: string
        auto_withdrawal_mobile_provider:
          type: string
        bank_code:
          type: string
        bank_name:
          type: string
        branch_code:
          type: string
        country:
          type: string
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        is_default:
          type: boolean
        is_spi_enabled:
          type: boolean
        is_uemoa:
          type: boolean
        is_valid:
          type: boolean
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_type:
          type: string
        spi_account_number:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_alias_type:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    payout_methods_create:
      type: object
      description: Request body for creating a payout methods object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        account_name:
          type: string
        account_number:
          type: string
        auto_withdrawal_day:
          type: number
          format: double
        auto_withdrawal_enabled:
          type: boolean
        auto_withdrawal_last_run:
          type: string
        auto_withdrawal_method:
          type: string
        auto_withdrawal_mobile_provider:
          type: string
        bank_code:
          type: string
        bank_name:
          type: string
        branch_code:
          type: string
        country:
          type: string
        is_default:
          type: boolean
        is_spi_enabled:
          type: boolean
        is_uemoa:
          type: boolean
        is_valid:
          type: boolean
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_type:
          type: string
        spi_account_number:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_alias_type:
          type: string
    payout_methods_update:
      type: object
      description: Request body for updating a payout methods object. Only include fields you want to modify.
      properties:
        account_name:
          type: string
        account_number:
          type: string
        auto_withdrawal_day:
          type: number
          format: double
        auto_withdrawal_enabled:
          type: boolean
        auto_withdrawal_last_run:
          type: string
        auto_withdrawal_method:
          type: string
        auto_withdrawal_mobile_provider:
          type: string
        bank_code:
          type: string
        bank_name:
          type: string
        branch_code:
          type: string
        country:
          type: string
        is_default:
          type: boolean
        is_spi_enabled:
          type: boolean
        is_uemoa:
          type: boolean
        is_valid:
          type: boolean
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_type:
          type: string
        spi_account_number:
          type: string
        spi_alias_mbno:
          type: string
        spi_alias_shid:
          type: string
        spi_alias_type:
          type: string
    payouts:
      type: object
      description: payouts resource object
      properties:
        account_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        environment:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        status:
          type: string
          description: Current status of the resource
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    payouts_create:
      type: object
      description: Request body for creating a payouts object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        account_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        status:
          type: string
          description: Current status of the resource
    payouts_update:
      type: object
      description: Request body for updating a payouts object. Only include fields you want to modify.
      properties:
        account_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        payment_method_code:
          type: string
        payout_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payout_method_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        status:
          type: string
          description: Current status of the resource
    prices:
      type: object
      description: prices resource object
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        billing_interval:
          type: string
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        environment:
          type: string
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_default:
          type: boolean
        maximum_amount:
          type: number
          format: double
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        minimum_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        pricing_model:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    prices_create:
      type: object
      description: Request body for creating a prices object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        billing_interval:
          type: string
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_default:
          type: boolean
        maximum_amount:
          type: number
          format: double
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        minimum_amount:
          type: number
          format: double
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        pricing_model:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    prices_update:
      type: object
      description: Request body for updating a prices object. Only include fields you want to modify.
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        billing_interval:
          type: string
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_default:
          type: boolean
        maximum_amount:
          type: number
          format: double
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        minimum_amount:
          type: number
          format: double
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        pricing_model:
          type: string
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    products:
      type: object
      description: products resource object
      properties:
        billing_frequency:
          type: string
        charge_day:
          type: number
          format: double
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        description:
          type: string
        display_on_storefront:
          type: boolean
        environment:
          type: string
        failed_payment_action:
          type: string
        first_payment_type:
          type: string
        image_url:
          type: string
          format: uri
          description: URL/URI
        is_active:
          type: boolean
          description: Whether this resource is currently active
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          readOnly: true
          format: uuid
          description: Unique identifier (UUID format)
        product_type:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        usage_aggregation:
          type: string
        usage_unit:
          type: string
    products_create:
      type: object
      description: Request body for creating a products object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        billing_frequency:
          type: string
        charge_day:
          type: number
          format: double
        description:
          type: string
        display_on_storefront:
          type: boolean
        failed_payment_action:
          type: string
        first_payment_type:
          type: string
        image_url:
          type: string
          format: uri
          description: URL/URI
        is_active:
          type: boolean
          description: Whether this resource is currently active
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        name:
          type: string
        product_type:
          type: string
        usage_aggregation:
          type: string
        usage_unit:
          type: string
    products_update:
      type: object
      description: Request body for updating a products object. Only include fields you want to modify.
      properties:
        billing_frequency:
          type: string
        charge_day:
          type: number
          format: double
        description:
          type: string
        display_on_storefront:
          type: boolean
        failed_payment_action:
          type: string
        first_payment_type:
          type: string
        image_url:
          type: string
          format: uri
          description: URL/URI
        is_active:
          type: boolean
          description: Whether this resource is currently active
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        name:
          type: string
        product_type:
          type: string
        usage_aggregation:
          type: string
        usage_unit:
          type: string
    refunds:
      type: object
      description: refunds resource object
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        reason:
          type: string
        refund_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        refunded_amount:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_fund_return_status:
          type: string
        spi_motif_code:
          type: string
        spi_rejection_reason:
          type: string
        spi_retour_date_demande:
          type: string
        spi_retour_date_irrevocabilite:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        transaction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    refunds_create:
      type: object
      description: Request body for creating a refunds object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        fee_amount:
          type: number
          format: double
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        reason:
          type: string
        refund_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        refunded_amount:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_fund_return_status:
          type: string
        spi_motif_code:
          type: string
        spi_rejection_reason:
          type: string
        spi_retour_date_demande:
          type: string
        spi_retour_date_irrevocabilite:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        transaction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    refunds_update:
      type: object
      description: Request body for updating a refunds object. Only include fields you want to modify.
      properties:
        amount:
          type: number
          format: double
          description: Amount in the smallest currency unit (e.g., cents for USD, same for XOF)
        fee_amount:
          type: number
          format: double
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        reason:
          type: string
        refund_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        refunded_amount:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_fund_return_status:
          type: string
        spi_motif_code:
          type: string
        spi_rejection_reason:
          type: string
        spi_retour_date_demande:
          type: string
        spi_retour_date_irrevocabilite:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        transaction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    spi_account_aliases:
      type: object
      description: spi account aliases resource object
      properties:
        account_number:
          type: string
        alias_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        alias_key:
          type: string
        alias_type:
          type: string
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_default:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    spi_account_aliases_create:
      type: object
      description: Request body for creating a spi account aliases object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        account_number:
          type: string
        alias_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        alias_key:
          type: string
        alias_type:
          type: string
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_default:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
    spi_account_aliases_update:
      type: object
      description: Request body for updating a spi account aliases object. Only include fields you want to modify.
      properties:
        account_number:
          type: string
        alias_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        alias_key:
          type: string
        alias_type:
          type: string
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_default:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
    spi_qr_codes:
      type: object
      description: spi qr codes resource object
      properties:
        categorie:
          type: string
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        compte_paye:
          type: string
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        environment:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_used:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        montant:
          type: number
          format: double
        name:
          type: string
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payeur_alias:
          type: string
        payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        qr_code_data:
          type: string
        qr_code_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        qr_code_image_data:
          type: string
        qr_code_image_url:
          type: string
          format: uri
          description: URL/URI
        qr_code_type:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    spi_qr_codes_create:
      type: object
      description: Request body for creating a spi qr codes object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        categorie:
          type: string
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        compte_paye:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_used:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        montant:
          type: number
          format: double
        name:
          type: string
        payeur_alias:
          type: string
        payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        qr_code_data:
          type: string
        qr_code_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        qr_code_image_data:
          type: string
        qr_code_image_url:
          type: string
          format: uri
          description: URL/URI
        qr_code_type:
          type: string
    spi_qr_codes_update:
      type: object
      description: Request body for updating a spi qr codes object. Only include fields you want to modify.
      properties:
        categorie:
          type: string
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        compte_paye:
          type: string
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        is_active:
          type: boolean
          description: Whether this resource is currently active
        is_used:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        montant:
          type: number
          format: double
        name:
          type: string
        payeur_alias:
          type: string
        payment_request_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        plan_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        qr_code_data:
          type: string
        qr_code_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        qr_code_image_data:
          type: string
        qr_code_image_url:
          type: string
          format: uri
          description: URL/URI
        qr_code_type:
          type: string
    subscriptions:
      type: object
      description: subscriptions resource object
      properties:
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        end_date:
          type: string
        environment:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        next_billing_date:
          type: string
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        start_date:
          type: string
        status:
          type: string
          description: Current status of the resource
        subscription_id:
          type: string
          readOnly: true
          format: uuid
          description: Unique identifier (UUID format)
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    subscriptions_create:
      type: object
      description: Request body for creating a subscriptions object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        end_date:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        next_billing_date:
          type: string
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        start_date:
          type: string
        status:
          type: string
          description: Current status of the resource
    subscriptions_update:
      type: object
      description: Request body for updating a subscriptions object. Only include fields you want to modify.
      properties:
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        end_date:
          type: string
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        next_billing_date:
          type: string
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        start_date:
          type: string
        status:
          type: string
          description: Current status of the resource
    transactions:
      type: object
      description: transactions resource object
      properties:
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        discount_amount:
          type: number
          format: double
        environment:
          type: string
        fee_amount:
          type: number
          format: double
        fee_structure_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        gross_amount:
          type: number
          format: double
        is_bnpl:
          type: boolean
        is_pos:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        net_amount:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payment_method_code:
          type: string
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_discount_amount:
          type: number
          format: double
        spi_discount_rate:
          type: number
          format: double
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_payment_category:
          type: string
        spi_payment_flow_type:
          type: string
        spi_payment_status:
          type: string
        spi_rejection_reason:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        subscription_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        transaction_id:
          type: string
          readOnly: true
          format: uuid
          description: Unique identifier (UUID format)
        transaction_type:
          type: string
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
    transactions_create:
      type: object
      description: Request body for creating a transactions object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        discount_amount:
          type: number
          format: double
        fee_amount:
          type: number
          format: double
        fee_structure_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        gross_amount:
          type: number
          format: double
        is_bnpl:
          type: boolean
        is_pos:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        net_amount:
          type: number
          format: double
        payment_method_code:
          type: string
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_discount_amount:
          type: number
          format: double
        spi_discount_rate:
          type: number
          format: double
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_payment_category:
          type: string
        spi_payment_flow_type:
          type: string
        spi_payment_status:
          type: string
        spi_rejection_reason:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        subscription_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        transaction_type:
          type: string
    transactions_update:
      type: object
      description: Request body for updating a transactions object. Only include fields you want to modify.
      properties:
        checkout_session_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        currency_code:
          type: string
          description: Three-letter ISO currency code (e.g., XOF, USD, EUR)
        customer_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        description:
          type: string
        discount_amount:
          type: number
          format: double
        fee_amount:
          type: number
          format: double
        fee_structure_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        gross_amount:
          type: number
          format: double
        is_bnpl:
          type: boolean
        is_pos:
          type: boolean
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        net_amount:
          type: number
          format: double
        payment_method_code:
          type: string
        price_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        product_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        provider_code:
          type: string
        quantity:
          type: number
          format: double
        spi_account_number:
          type: string
        spi_bulk_instruction_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_date_envoi:
          type: string
        spi_date_irrevocabilite:
          type: string
        spi_discount_amount:
          type: number
          format: double
        spi_discount_rate:
          type: number
          format: double
        spi_end2end_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        spi_payment_category:
          type: string
        spi_payment_flow_type:
          type: string
        spi_payment_status:
          type: string
        spi_rejection_reason:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        status:
          type: string
          description: Current status of the resource
        subscription_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        transaction_type:
          type: string
    webhook_delivery_logs:
      type: object
      description: webhook delivery logs resource object
      properties:
        attempt_number:
          type: number
          format: double
        compte_paye:
          type: string
        compte_payeur:
          type: string
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        event_type:
          type: string
        headers:
          type: object
        ip_address:
          type: string
        log_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        montant:
          type: number
          format: double
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        payload:
          type: object
        request_duration_ms:
          type: number
          format: double
        response_body:
          type: string
        response_status:
          type: number
          format: double
        spi_event_code:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        success:
          type: boolean
        user_agent:
          type: string
        webhook_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    webhook_delivery_logs_create:
      type: object
      description: Request body for creating a webhook delivery logs object. System-managed fields like `created_at`, `organization_id`, and IDs are automatically set.
      required: []
      properties:
        attempt_number:
          type: number
          format: double
        compte_paye:
          type: string
        compte_payeur:
          type: string
        event_type:
          type: string
        headers:
          type: object
        ip_address:
          type: string
        log_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        montant:
          type: number
          format: double
        payload:
          type: object
        request_duration_ms:
          type: number
          format: double
        response_body:
          type: string
        response_status:
          type: number
          format: double
        spi_event_code:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        success:
          type: boolean
        user_agent:
          type: string
        webhook_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    webhook_delivery_logs_update:
      type: object
      description: Request body for updating a webhook delivery logs object. Only include fields you want to modify.
      properties:
        attempt_number:
          type: number
          format: double
        compte_paye:
          type: string
        compte_payeur:
          type: string
        event_type:
          type: string
        headers:
          type: object
        ip_address:
          type: string
        log_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        montant:
          type: number
          format: double
        payload:
          type: object
        request_duration_ms:
          type: number
          format: double
        response_body:
          type: string
        response_status:
          type: number
          format: double
        spi_event_code:
          type: string
        spi_tx_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        success:
          type: boolean
        user_agent:
          type: string
        webhook_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    webhooks:
      type: object
      description: webhooks resource object
      properties:
        authorized_events:
          type: string
        created_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        created_by:
          type: string
          readOnly: true
        deleted_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        environment:
          type: string
        is_active:
          type: boolean
          description: Whether this resource is currently active
        last_payload:
          type: object
        last_response_body:
          type: string
        last_response_status:
          type: number
          format: double
        last_triggered_at:
          type: string
          format: date-time
          description: ISO 8601 datetime
        metadata:
          type: object
          description: Set of key-value pairs for storing additional information
        organization_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
        retry_count:
          type: number
          format: double
        spi_event_types:
          type: string
        supports_spi:
          type: boolean
        updated_at:
          type: string
          readOnly: true
          format: date-time
          description: ISO 8601 datetime
        url:
          type: string
          format: uri
          description: URL/URI
        verification_token:
          type: string
        webhook_id:
          type: string
          format: uuid
          description: Unique identifier (UUID format)
    webhooks_create:
      type: object
[...]
