{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "ignore": [
    "node_modules",
    "dist",
    "build",
    "pnpm-lock.yaml",
    "coverage"
  ]
}
